{% extends "base.html" %}

{% block contenido %}
    <h1>Listado de alumnos</h1>
    <p>
        <a href={% url "crear_alumno" %}>Crear alumno</a>
    </p>

    {% if alumnos %}
    <ul>
        {% for alumno in alumnos %}
        <li>
            {{alumno}} 
            | <a href={% url "detalle_alumno" alumno.id %}>Ver más</a>
            | <a href={% url "modificar_alumno" alumno.id %}>Modificar</a>
            | <a href={% url "eliminar_alumno" alumno.id %}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p> No hay alumnos creados. </p>
    {% endif %}


{% endblock contenido %}
